<div class="contenedor">
    
    <h1 class="text-5xl font-extrabold dark:text-white">Futbol Libre<small class="ms-2 font-semibold text-gray-500 dark:text-gray-400">Futbol para todos y gratis</small></h1>
    <div class="video">
        <iframe 
        allow="encrypted-media" 
        id="iframe" 
        name="iframe" 
        allowfullscreen="" 
        frameborder="0" 
        marginheight="0" 
        marginwidth="0" 
        scrolling="no" 
        src="https://tucanaldeportivo.com/directvsports.php" 
        style="position: absolute;" 
        >
    </iframe>
    </div>
</div>

<style>
.contenedor{
   margin-top: 5%;
}

h1{
    width: 100%;
    text-align: center;
    padding:2%;
}
.video{
    width: 900px;
    min-height: 506px;
    height: auto;
    position: relative;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin:1% 0 5% 0;
}
iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 25px;
}


</style>